/* In this challenge I had to use the CSS Grid and  in order to make the
 three containers be included inside the grid cells.*/

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    line-height: 1.6;
}
/* The display grid property has been applied below in order to include every container into a grid cell. */
.product {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    column-gap: 40px;
    border: solid black 4px;
    width: 825px;
    margin: 50px auto;
    position: relative;
}
/* grid-column: 1 / -1 makes the first grid cell expand from one side of the page to the other side. */
.product-title {
    grid-column: 1 / -1;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    background-color: #f7f7f7;
    padding: 15px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.price{
     font-size: 24px;
}    

.shipping {
    color: #777;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
     }

/* Product information */

.product-info{
/* width: 243px; */

margin-top: 10px;
}


.more-info {
padding: 10px auto !important;
margin-bottom: 30px;
display: inline-block;
}
.product-description {
clear: both;
margin-bottom: 10px;
}

.more-info:link, .more-info:visited {
    color:black; 
    
}
.more-info:hover, .more-info:active {
 text-decoration: none;
}



/* Product details */
.product-details {
    width: 243px;
    margin-top: 15px;
   
}

.details-title {
text-transform: uppercase;
font-size: 16px;
margin-bottom: 15px;
}

.details-list {
    list-style: square;
    margin-left: 50px;
    margin-left: 20px;
}
.details-list li {
   margin-bottom: 10px;
}

/* Button */

.add-cart {
    grid-column: 1 / -1;
    background-color: #000;
    color:#fff;
    border-top: 4px solid black;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    padding:15px;
}
.add-cart:hover{
    background-color: #fff;
    color: #000;
}
.sale{
   position: absolute;
   background-color: rgb(214, 58, 58);
   color: white;
   top: -15px;
   left: -40px;
   padding: 5px 20px;
   font-weight: bold;
   font-size: 13px;
   letter-spacing: 2px;
   border-radius: 3px;
}
.product-colors{
display: flex;
gap: 10px;
}

.color {
width: 22px;
height: 22px;

} 
.color-black {
    background-color: black
}

.color-blue {
    background-color: blue;
   }

.color-red { 
    background-color: red;
  }

.color-orange {    
    background-color: orange;
  }

.color-green {   
    background-color: green;
 }

.color-brown {
    background-color: brown;
   }