/* Like in the previows lecture we used flexbox in order to do the layout of the page 
so below there is a code example that I used in order to create the same layout but with CSS Grid
for the existing page */

/* CSS GRID LAYOUT */
.container {
    display: grid;
    grid-template-columns: 1fr 300px ;
    column-gap: 75px;
    row-gap: 60px;
    align-items: start;
  }

  .main-header {
    grid-column: 1 / -1;
 }

  footer {
    grid-column: 1 / -1
 }