/* 
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400

- Line heights:
Default: 1


--- 02 COLORS

- Primary: #e67e22
- Tints:
- Shades:
- Accents:
- Greys:
 #555

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* We can actually change font-size which then will
affect all the elements that are using rem units. */
html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

/* If the container width is larger than the specified max-width
 then the width of the element is equal to the value that is specified for the max-width.
 However if the container width is less than the specified max-width then the width o
 the element will be 100% of the container width. */
.test {
    /* width: 1000px; */
    background-color: red;
    
    /* max-width: 500px; */

    max-width: 100rem;
    padding: 4rem;
    color: #fff;
    font-size: 2rem;
    /* 1rem = 16px */
}
