/* By adding the float right/left property to certain elements
this will stack them side by side */

article{
    width: 825px;
    float: left;
     }
    
     aside{
       width: 300px;
       float: right;
     }